@import './../../../assets/style/common.less';

.commentDiv-container {
  display: flex;
  width: 100%;
  .m-t-5();

  .header {
    margin-right: 12px;
  }

  .inputContent {
    width: 100%;
    position: relative;

    .ant-input-textarea-show-count::after {
      margin-top: 10px;
      .m-b-5();
      margin-right: 80px;
    }

    .btn-div {
      .m-t-5();
      .m-b-5();
      right: 0px;
      position: absolute;
    }
  }
}



.ant-modal-root {

  .ant-modal-content {
    background-color: var(--header-bg-hover-color);
    .cursor-pointer();

    .ant-modal-close-x {
      .cursor-pointer();
    }

    .login-container {
      display: flex;
      justify-content: space-around;

      .logo-container {
        position: relative;

        span {
          position: absolute;
          right: -24px;
          top: -10px;
        }
      }


    }

    .ant-modal-footer>button {
      .cursor-pointer();
    }
  }


}