/*
公共背景的宽度
*/
.common-container(){
  margin: 0px auto;
    
  @media (min-width: 768px) {
      width: 750px
  }
  
  @media (min-width: 992px) {
      width: 970px
  }
  
  @media (min-width: 1200px) {
      width: 1170px
  }
}