@primary-color: #00D8FF; // 全局主色
@link-color: #00D8FF; // 链接色
@success-color: #7FBF11; // 成功色
@info-color: #2D98FC; // 信息色
@warning-color: #FFDE0A; // 警告色
@error-color: #FF3232; // 错误色
@font-size-base: 14px; // 主字号
@loader-bg-color: rgb(240, 235, 235); // 加载中的白色背景  

@body-background: rgba(#fff, .8);
@component-background: rgba(#fff, .8);
