@import './../../assets/style/common.less';

.articleDialog-container{
  width: 100%;
  transition: all .25s;
  background-color: var(--main-comp-bg-color);
  .m-t-5();
  padding: 10px 0px 15px 0px;

  h4 {
    padding-left: 26px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .aLinkClass{
    display: block;
  }
}